@charset "utf-8";

body {
	background-color: #7D90A1; }
div {
	border: dotted 20px hsla(219,100%,68%,1.00);
}

h1 {
	font-size: 80px;
	font-family: "Boldonse";

}
/* style.css */
.navbar {
  background-color: cornflowerblue;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
font-family: "Boldonse";
}
.navbar a:hover {
  background-color: darkcyan;
}
