@charset "utf-8";

body {
	background-color: #7D90A1;
	border: dotted 20px hsla(219,100%,68%,1.00);
}

h1 {
	font-size: 80px;
	font-family: "Boldonse";

}
nav {
	font-size: 40px;
	font-family: "Boldonse";
}
